openapi: "3.2.0"
info:
  title: "Chora BFF Auth API (chora-gateway)"
  version: "1.1.0"
  description: |
    Authentication surface of the chora-gateway BFF — session mint, WebAuthn
    passkey ceremonies, and account-closure triggers.

    v1.1.0 (2026-06-12, CHO-1719): closure routes aligned to implementation
    reality. closure-orchestrator.yaml v2 exposes NO by-gcid saga lookup —
    status/cancel are closure_id-keyed — so (a) the close 202 echoes saga_id
    and the SPA MUST persist it, (b) GET /me/account/closure gains a required
    `closure_id` query param, (c) POST /me/account/close/cancel gains a
    request body carrying `closure_id` (+ a 404 response: unknown AND
    foreign sagas both 404 CLOSURE_NOT_FOUND — no existence oracle).
    All 4 closure routes additionally answer 503 CLOSURE_UNAVAILABLE while
    the gateway boots without CLOSURE_ORCHESTRATOR_URL (degraded posture).
    The two close routes run a tenant-ownership pre-flight before starting a
    saga: an account holding a live `owner` row in any tenant is refused with
    409 CLOSURE_OWNS_TENANT, and a pre-flight that cannot run is
    503 CLOSURE_OWNERSHIP_CHECK_UNAVAILABLE with no saga started.
    ClosureStatusResponse gains optional requested_at / cancelled_at /
    history (additive).

    AP-01: this contract exists BEFORE implementation. Authored 2026-06-10 for
    the Phase A auth-hardening buildout (ADR-181 + ADR-182); the previously
    contract-less `POST /api/v1/auth/session/mint` (live since 2026-05-13) is
    documented here retroactively with its ADR-182 semantics.

    Architecture notes (ADR-181 / ADR-182):
      - chora-identity is the SOLE credential store. The FE POSTs
        {username, password} to /api/v1/auth/session/mint; the BFF calls
        chora-identity POST /v1/auth/verify-credentials and mints the Chora
        session JWT from the returned claims. There are NO
        /api/v1/auth/login or /api/v1/auth/register endpoints by design.
      - WebAuthn passkeys are the one non-password factor: the 4 ceremony
        routes below proxy to chora-identity and, on login/finish, mint the
        same Chora session JWT shape as the password mint path
        (gcid + tenant_id + roles).
      - Mint always resolves to a tenant-scoped session: users with zero
        private memberships are auto-enrolled into the public `chora-master`
        tenant at first resolve (ADR-182 D2). The former Phase 5
        "bootstrap-mode" zero-membership mint is RETIRED.
      - Registration gate: mint consults the provider-agnostic
        `idp-email-allowlist` secret while `REGISTRATION_MODE=allowlist`;
        `REGISTRATION_MODE=open` admits any verified identity (launch flip).
      - Account closure runs the federated saga (Tier 3 D11, ADR-181 D5) —
        pseudonymise + crypto-shred, never hard-delete. Closing releases the
        email for re-registration; re-registration mints a FRESH GCID.
  contact:
    name: "Chora Platform Team (Team 3)"
  license:
    name: "Proprietary"

servers:
  - url: "https://api.chora.site"
    description: "chora-gateway BFF"
  - url: "http://localhost:8081"
    description: "Local development"

tags:
  - name: Session
    description: "Chora session mint (username/password exchange)"
  - name: WebAuthn
    description: "Passkey registration + login ceremonies (proxied to chora-identity)"
  - name: Closure
    description: "Account-closure saga triggers (proxied to chora-closure-orchestrator)"

paths:
  /api/v1/auth/session/mint:
    post:
      operationId: mintSession
      summary: "Exchange username/password credentials for a Chora session JWT"
      description: |
        Anonymous endpoint — this IS the auth-establishing surface.

        Pipeline: decode {username, password} → chora-identity
        POST /v1/auth/verify-credentials (Argon2id credential check, active
        account, active tenant resolution) → mint HS256 session JWT carrying
        gcid, tenant_id, roles. Zero active memberships is rejected by
        chora-identity as 401 INVALID_CREDENTIALS (never a tenant-less
        principal).
      tags: [Session]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MintRequest"
      responses:
        "200":
          description: "Chora session minted (always tenant-scoped per ADR-182)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokenResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          description: "Invalid username/password (INVALID_CREDENTIALS)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "403":
          description: "Account not active (ACCOUNT_DISABLED)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          description: "chora-identity verify-credentials unreachable (AUTH_IDENTITY_UPSTREAM_UNAVAILABLE)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /api/v1/auth/webauthn/register/begin:
    post:
      operationId: webauthnRegisterBegin
      summary: "Begin a passkey REGISTRATION ceremony for the signed-in user"
      description: |
        Requires an authenticated Chora session (passkeys are registered
        post-first-login). Returns W3C PublicKeyCredentialCreationOptions
        (challenge single-use, TTL-bound, minted by chora-identity).
      tags: [WebAuthn]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [gcid]
              properties:
                gcid:
                  type: string
                  format: uuid
                  description: "Must match the session's gcid claim"
      responses:
        "200":
          description: "Creation options"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebAuthnOptionsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/auth/webauthn/register/finish:
    post:
      operationId: webauthnRegisterFinish
      summary: "Finish a passkey REGISTRATION ceremony"
      description: |
        Verifies the attestation response: chora-identity parses the
        attestationObject (CBOR) → authenticator data → REAL COSE public key,
        which is persisted on the credential (ADR-181 D2 — the dev-mode
        placeholder key path is dead). attestation formats accepted: "none",
        "packed" (x5c chain validation deferred).
      tags: [WebAuthn]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [gcid, challenge_id, attestation_response]
              properties:
                gcid:
                  type: string
                  format: uuid
                challenge_id:
                  type: string
                  format: uuid
                  description: "The challenge_id returned by register/begin (single-use)"
                attestation_response:
                  type: object
                  additionalProperties: true
                  description: "Serialised PublicKeyCredential (attestation) — rawId/clientDataJSON/attestationObject base64url"
      responses:
        "201":
          description: "Credential registered"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebAuthnCredentialResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/auth/webauthn/login/begin:
    post:
      operationId: webauthnLoginBegin
      summary: "Begin a passkey LOGIN ceremony"
      description: |
        Anonymous. Returns W3C PublicKeyCredentialRequestOptions. The email
        hint is optional (discoverable credentials supported).
      tags: [WebAuthn]
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: "Request options"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebAuthnOptionsResponse"

  /api/v1/auth/webauthn/login/finish:
    post:
      operationId: webauthnLoginFinish
      summary: "Finish a passkey LOGIN ceremony and mint a Chora session"
      description: |
        Anonymous. chora-identity verifies the assertion (W3C WebAuthn L3
        §7.2 against the stored REAL COSE key; challenge single-use;
        sign-count replay protection), then the gateway composes the SAME
        session-mint pipeline as the password path (identity resolve →
        memberships → tenant-scoped JWT). The dev HS256 tenant-less token
        path is RETIRED (ADR-181 D2).
      tags: [WebAuthn]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challenge_id, assertion_response]
              properties:
                challenge_id:
                  type: string
                  format: uuid
                  description: "The challenge_id returned by login/begin (single-use)"
                assertion_response:
                  type: object
                  additionalProperties: true
                  description: "Serialised PublicKeyCredential (assertion) — rawId/clientDataJSON/authenticatorData/signature base64url"
                email:
                  type: string
                  format: email
                  description: "Optional hint matching login/begin"
      responses:
        "200":
          description: "Chora session minted"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthTokenResponse"
        "401":
          description: "Assertion rejected (PASSKEY_SIGNATURE_REJECTED, PASSKEY_CHALLENGE_CONSUMED, PASSKEY_REPLAY_DETECTED)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"

  /api/v1/me/account/close:
    post:
      operationId: closeOwnAccount
      summary: "Request closure of the caller's own account (starts the federated saga)"
      description: |
        Authenticated self-service. Starts the closure saga at
        chora-closure-orchestrator (grace window → pseudonymise fan-out →
        cold archive → crypto-shred). NEVER hard-deletes. On terminal
        pseudonymisation the email is released for re-use (GCIP user deleted +
        chora_identity email tombstoned) and any later re-registration mints
        a FRESH GCID (ADR-181 D5).

        gcid + tenant_id derive EXCLUSIVELY from the session JWT claims —
        body-supplied identity fields are ignored, and `fast_close` is NEVER
        settable here (operator route only). The 202 echoes `saga_id`; the
        SPA MUST persist it — the status/cancel routes are closure_id-keyed
        (the orchestrator has no by-gcid lookup).
      tags: [Closure]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 512
      responses:
        "202":
          description: "Saga accepted (persist saga_id for status/cancel)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClosureStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: |
            Either a closure saga already exists for this gcid, or the account
            still owns an organisation (CLOSURE_OWNS_TENANT). The second case
            carries `error.owned_tenants`, so the screen can name each
            organisation and link to its handover.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClosureOwnershipBlocked"
        "503":
          $ref: "#/components/responses/ClosureUnavailable"

  /api/v1/me/account/close/cancel:
    post:
      operationId: cancelOwnClosure
      summary: "Cancel the caller's closure saga during the grace window"
      description: |
        Own saga only: the gateway fetches the saga by `closure_id` and
        verifies its gcid against the session gcid BEFORE cancelling.
        Unknown and foreign sagas both return the SAME 404
        CLOSURE_NOT_FOUND envelope (no existence oracle).
      tags: [Closure]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [closure_id]
              properties:
                closure_id:
                  type: string
                  format: uuid
                  description: "The saga_id echoed by POST /api/v1/me/account/close"
                reason:
                  type: string
                  maxLength: 512
      responses:
        "200":
          description: "Saga cancelled, account returns to ACTIVE"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClosureStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: "No closure saga for this gcid (unknown or foreign closure_id)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: "Saga past the grace window — cancellation impossible (CLOSURE_CANCEL_TOO_LATE)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          $ref: "#/components/responses/ClosureUnavailable"

  /api/v1/me/account/closure:
    get:
      operationId: getOwnClosureStatus
      summary: "Read the caller's closure saga status (if any)"
      description: |
        Own saga only — closure_id-keyed (the orchestrator exposes no by-gcid
        lookup; the SPA persists the saga_id from the close 202). A missing,
        unknown, or foreign closure_id is a uniform 404 CLOSURE_NOT_FOUND.
      tags: [Closure]
      parameters:
        - name: closure_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: "The saga_id echoed by POST /api/v1/me/account/close"
      responses:
        "200":
          description: "Saga status"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClosureStatusResponse"
        "404":
          description: "No closure saga for this gcid (param missing, saga unknown, or foreign)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "503":
          $ref: "#/components/responses/ClosureUnavailable"

  /api/v1/admin/accounts/{gcid}/close:
    post:
      operationId: operatorCloseAccount
      summary: "PLATFORM_OPERATOR: close an account, optionally collapsing the grace window"
      description: |
        Operator-only (PLATFORM_OPERATOR JWT role per ADR-165). `fast_close`
        collapses the grace window to zero for designated TEST accounts
        (ADR-181 D5 test-support). The saga itself is identical — no
        hard-delete shortcut exists.
      tags: [Closure]
      parameters:
        - name: gcid
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                fast_close:
                  type: boolean
                  default: false
                reason:
                  type: string
                  maxLength: 512
      responses:
        "202":
          description: "Saga accepted"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClosureStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: "Caller lacks PLATFORM_OPERATOR (or upstream CLOSURE_AGID_REJECTED)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "409":
          description: |
            The TARGET account still owns an organisation
            (CLOSURE_OWNS_TENANT). The operator route is blocked for the same
            reason the self-close route is: the guarantee protects the
            organisation, not the person who asked. The designed escape hatch
            is the ownership override, not this route.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClosureOwnershipBlocked"
        "503":
          $ref: "#/components/responses/ClosureUnavailable"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: "Malformed request"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    Unauthorized:
      description: "Missing/invalid Chora session"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"
    ClosureUnavailable:
      description: |
        Closure orchestrator not configured / unreachable
        (CLOSURE_UNAVAILABLE — gateway booted without
        CLOSURE_ORCHESTRATOR_URL, or the upstream call failed).

        The two close routes additionally answer
        CLOSURE_OWNERSHIP_CHECK_UNAVAILABLE when the tenant-ownership
        pre-flight cannot run. No saga is started in that case: the check
        fails closed, because an unverified closure can leave an organisation
        permanently without an owner.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorEnvelope"

  schemas:
    MintRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          description: "Globally unique, case-normalised login name"
        password:
          type: string
          format: password
          description: "Cleartext over TLS only; capped at 1024 bytes by chora-identity"
        active_tenant_id:
          type: string
          format: uuid
          description: "Tenant-switch hint; must be one of the caller's memberships"

    ResolveTenantMembership:
      type: object
      required: [tenant_id, tenant_slug, roles, surfaces, is_default]
      properties:
        tenant_id:
          type: string
          format: uuid
        tenant_slug:
          type: string
        roles:
          type: array
          items:
            type: string
        surfaces:
          type: array
          items:
            type: string
            enum: [aplus, cplus, hplus, oplus, rplus]
        is_default:
          type: boolean

    AuthTokenResponse:
      type: object
      required: [access_token, token_type, expires_in, gcid, memberships]
      properties:
        access_token:
          type: string
          description: "Chora session JWT (gcid, tenant_id, roles claims)"
        token_type:
          type: string
          enum: [Bearer]
        expires_in:
          type: integer
        gcid:
          type: string
          format: uuid
        memberships:
          type: array
          description: "Always non-null; at minimum the chora-master membership (ADR-182)"
          items:
            $ref: "#/components/schemas/ResolveTenantMembership"

    WebAuthnOptionsResponse:
      type: object
      required: [challenge_id, options]
      properties:
        challenge_id:
          type: string
          format: uuid
          description: |
            Server-side single-use challenge handle minted by chora-identity.
            The SPA MUST echo it back on the matching finish call — the W3C
            options object itself is consumed by navigator.credentials and
            never returns to the server. (Added 2026-06-11, Phase A4
            implementation: the ceremony state is challenge_id-keyed.)
        options:
          type: object
          additionalProperties: true
          description: "W3C PublicKeyCredential{Creation|Request}Options (base64url-encoded binary fields)"

    WebAuthnCredentialResponse:
      type: object
      required: [id, gcid, created_at]
      properties:
        id:
          type: string
          description: "base64url credential id"
        gcid:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time

    ClosureStatusResponse:
      type: object
      required: [saga_id, gcid, state]
      properties:
        saga_id:
          type: string
          format: uuid
          description: "Persist client-side — keys the status/cancel routes"
        gcid:
          type: string
          format: uuid
        state:
          type: string
          enum: [active, closing, suspended, pseudonymized, cold_archived, crypto_shredded, cancelled]
        grace_ends_at:
          type: string
          format: date-time
        requested_at:
          type: string
          format: date-time
        cancelled_at:
          type: string
          format: date-time
        history:
          type: array
          description: "Append-only saga transitions (status route only)"
          items:
            type: object
            properties:
              prior_state:
                type: string
              new_state:
                type: string
              reason:
                type: string
              actor_gcid:
                type: string
                format: uuid
              transitioned_at:
                type: string
                format: date-time
        domain_acks:
          type: array
          items:
            type: object
            properties:
              domain:
                type: string
              acked_at:
                type: string
                format: date-time

    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            correlation_id:
              type: string

    ClosureOwnershipBlocked:
      description: |
        The standard error envelope plus the organisations the subject still
        owns. Emitted with code CLOSURE_OWNS_TENANT on both close routes.
        `tenant_slug` is chora-tenancy's slug, or the hyphenated tenant name
        when no slug is set. It is an identifier, not a display name: do not
        humanise it back into a title.
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            correlation_id:
              type: string
            owned_tenants:
              type: array
              items:
                type: object
                required: [tenant_id, tenant_slug]
                properties:
                  tenant_id:
                    type: string
                    format: uuid
                  tenant_slug:
                    type: string
