openapi: "3.2.0"
info:
  title: "Chora Notifications Admin API"
  version: "1.0.0"
  description: |
    Admin-only REST API for the Notifications supporting domain.

    Covers email template CRUD, send-now triggers, in-app notification
    management.

    Owning domain : Notifications (`chora_notifications` database)
    Owning team   : Team 3 (Platform)
    Surface       : H+ Hub+ (admin) + O+ Observability+ (auditor read-only)
  contact:
    name: "Chora Platform Team (Team 3)"
  license:
    name: "Proprietary"

servers:
  - url: "https://api.chora.app"
    description: "Production"
  - url: "http://localhost:8080"
    description: "Local development"

security:
  - BearerAuth: []

tags:
  - name: EmailTemplate
    description: "Email template CRUD"
  - name: EmailSend
    description: "Send-now triggers"
  - name: InApp
    description: "In-app notification management"
  - name: Health
    description: "Health check"

paths:
  /api/v1/admin/email-templates:
    get:
      operationId: listEmailTemplates
      summary: "List email templates"
      tags: [EmailTemplate]
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: "Templates listed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailTemplateListResponse"
    post:
      operationId: createEmailTemplate
      summary: "Create an email template"
      tags: [EmailTemplate]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEmailTemplateRequest"
      responses:
        "201":
          description: "Template created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailTemplate"

  /api/v1/admin/email-templates/{templateId}:
    parameters:
      - name: templateId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getEmailTemplate
      summary: "Get an email template"
      tags: [EmailTemplate]
      responses:
        "200":
          description: "Template found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailTemplate"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: updateEmailTemplate
      summary: "Update an email template"
      tags: [EmailTemplate]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEmailTemplateRequest"
      responses:
        "200":
          description: "Template updated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailTemplate"
    delete:
      operationId: deleteEmailTemplate
      summary: "Soft-delete an email template"
      tags: [EmailTemplate]
      responses:
        "204":
          description: "Template soft-deleted"

  /api/v1/admin/emails/send:
    post:
      operationId: sendEmailNow
      summary: "Trigger a send-now email (operational)"
      description: |
        Bypasses the standard outbox flow for one-off operational sends
        (e.g., admin announcement). Goes through SendGrid as normal;
        emits chora.notifications.email.queued.v1 immediately followed
        by .sent.v1.
      tags: [EmailSend]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendEmailNowRequest"
      responses:
        "202":
          description: "Send accepted"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendEmailAcceptResponse"

  /api/v1/admin/in-app:
    get:
      operationId: listInAppNotifications
      summary: "List in-app notifications (filtered)"
      tags: [InApp]
      parameters:
        - $ref: "#/components/parameters/RecipientGcidQuery"
        - $ref: "#/components/parameters/InAppKindQuery"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: "Notifications listed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InAppNotificationListResponse"
    post:
      operationId: createInAppNotification
      summary: "Create / broadcast an in-app notification"
      tags: [InApp]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInAppNotificationRequest"
      responses:
        "201":
          description: "Notification created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InAppNotification"

  /api/v1/admin/in-app/{notifId}:
    parameters:
      - name: notifId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getInAppNotification
      summary: "Get an in-app notification"
      tags: [InApp]
      responses:
        "200":
          description: "Notification found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InAppNotification"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteInAppNotification
      summary: "Soft-delete an in-app notification"
      tags: [InApp]
      responses:
        "204":
          description: "Notification soft-deleted"

  /healthz:
    get:
      operationId: healthCheck
      summary: "Health check"
      tags: [Health]
      security: []
      responses:
        "200":
          description: "Healthy"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    RecipientGcidQuery:
      name: recipient_gcid
      in: query
      required: false
      schema:
        type: string
        format: uuid
    InAppKindQuery:
      name: kind
      in: query
      required: false
      schema:
        type: string
        enum: [SOCIAL, ACADEMIC, SYSTEM, BILLING, GOVERNANCE]
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  responses:
    NotFound:
      description: "Resource not found"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    EmailTemplate:
      type: object
      required: [template_id, name, locale, subject_template, html_template]
      properties:
        template_id:
          type: string
          format: uuid
        name:
          type: string
          maxLength: 128
        locale:
          type: string
        subject_template:
          type: string
          maxLength: 256
        html_template:
          type: string
        text_template:
          type: string
          nullable: true
        active:
          type: boolean
        created_at:
          type: string
          format: date-time

    EmailTemplateListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/EmailTemplate"
        next_cursor:
          type: string
          nullable: true

    CreateEmailTemplateRequest:
      type: object
      required: [name, locale, subject_template, html_template]
      properties:
        name:
          type: string
          maxLength: 128
        locale:
          type: string
        subject_template:
          type: string
          maxLength: 256
        html_template:
          type: string
        text_template:
          type: string
          nullable: true

    UpdateEmailTemplateRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 128
        subject_template:
          type: string
          maxLength: 256
        html_template:
          type: string
        text_template:
          type: string
          nullable: true
        active:
          type: boolean

    SendEmailNowRequest:
      type: object
      required: [template_id, recipient_gcids]
      properties:
        template_id:
          type: string
          format: uuid
        recipient_gcids:
          type: array
          minItems: 1
          maxItems: 1000
          items:
            type: string
            format: uuid
        template_vars:
          type: object
          additionalProperties: true

    SendEmailAcceptResponse:
      type: object
      required: [accepted_count, queued_email_ids]
      properties:
        accepted_count:
          type: integer
        queued_email_ids:
          type: array
          items:
            type: string
            format: uuid

    InAppNotification:
      type: object
      required: [notif_id, recipient_gcid, kind, title, created_at]
      properties:
        notif_id:
          type: string
          format: uuid
        recipient_gcid:
          type: string
          format: uuid
        kind:
          type: string
          enum: [SOCIAL, ACADEMIC, SYSTEM, BILLING, GOVERNANCE]
        title:
          type: string
          maxLength: 80
        body:
          type: string
          maxLength: 256
        deeplink:
          type: string
        created_at:
          type: string
          format: date-time
        read_at:
          type: string
          format: date-time
          nullable: true
        dismissed_at:
          type: string
          format: date-time
          nullable: true

    InAppNotificationListResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/InAppNotification"
        next_cursor:
          type: string
          nullable: true

    CreateInAppNotificationRequest:
      type: object
      required: [recipient_gcids, kind, title]
      properties:
        recipient_gcids:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        kind:
          type: string
          enum: [SOCIAL, ACADEMIC, SYSTEM, BILLING, GOVERNANCE]
        title:
          type: string
          maxLength: 80
        body:
          type: string
          maxLength: 256
        deeplink:
          type: string

    HealthResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            correlation_id:
              type: string
              format: uuid
